<link rel="stylesheet" href="/static/css/index.css" type='text/css'/>
 
 <div class="collapsible" id='collapsible-btn'>&#9776 EXP|CON
    <div class="content" id='collapsible-menu'>
      <div class='menu-txt'>
      <p id='menu-color'>What is it</p>
      <p>Perks pricing</p>
    </div>
    </div>
</div>

