<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/static/css/index.css" type='text/css'/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <title>The Front-End Project</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

 

</head>

<body>
  <main>
    <section class='slider'>
        <div class='container-slider'>
          <div id='pricing'>
            <h1 id='app-ttl'>INTERACTIVE CONCERT EXPERIENCE</h1>
            <p class='app-txt'>Experience your favorite artists like never before and from the comfort of your own home</p> 
            
          </div>
          <div class='btn-slider'>
            
            <button class='try-btn-mix-noborder' id='tryIt-btn-multi-color-slider'> TRY IT NOW</button>
          </div>
        </div>
        
    </section>
    <section class='red'>
      <div id='btn-try-right'>
        <button class='select-btn' id='sel-white-float'> TRY IT NOW</button>
      </div>
        <div class='container-sound'>
          
        
          <div class='sound-box'>
            <h1 id='sound-ttl'>SUPERIOR SOUND</h1>
            <p id='sound-txt'>Experience live versions of your favourite songs</p>
            <button class='select-btn' id='sel-white'> SEE DEMO</button>
          </div>
          <div class='sound-img'>
            <img id='sound' src="/static/assets/sound1.png" alt='sound'>

          </div>
          
        </div>
          
          
        
    </section>
    <section class='blue'>
        <div class='container-botton'>
          <div class='contact-box' id='contact'>
            <p id='contact'> <span class="glyphicon glyphicon-envelope">  support@experienceconcerts.co</span></p>
          </div>
          <div id='brand'>
            <p id='brand'>EXP|CON</p>
          </div>
          
        </div>
          
        
    </section>
    <footer id='footer'>2019 All Rights Reserved | Speer Technologies Incorporated</footer>
  </main>
  <script src="js/scripts.js"></script>
</body>
</html>