<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/index.css" type='text/css'/>
  <title>The Front-End Project</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

 

</head>

<body>
  <main>
    <section class='slider'>
        <div class='container'>
          <div id='pricing'>
            <h1 id='pricing-ttl'>PRICING</h1>
            <p class='pricing-txt'>Test our app today! Choose from three subscription</p>
            <p class='pricing-txt'>Based payment models.</p>

          </div>
          <div id='boxes'>
            <div class='box'>
              <h4 class='plan-ttl'>BASIC</h4>
              <h4 class='plan-ttl-period'>MONTHLY</he>
              <p class='plan-ttl-price'>$9</p>
              <ul id='fnt-white'>
                <li>Very good</li>
                <li>Amazing</li>
                <li>Perfect Job</li>
                <li>Love this</li>
                <li>It's so good</li>
                <li>Features</li>
              </ul>
              <button class='select-btn' id='sel-red'> SELECT</button>
            </div>
            <div class='box'>
              <h4 class='plan-ttl' id='fnt-yellow'>ADVANCED</h4>
              <h4 class='plan-ttl-period' id='fnt-yellow'>YEARLY</h4>
              <p class='plan-ttl-price'id='fnt-yellow'>$99</p>
              <ul id='fnt-white'>
                <li>Very very good</li>
                <li>Even Amazing</li>
                <li>Perfect Job</li>
                <li>Love this more</li>
                <li>It's so so good</li>
                <li>More Features</li>
              </ul>
              <button class='select-btn'id='sel-yellow'> SELECT</button>
            </div>
            <div class='box'>
              <h4 class='plan-ttl' id='fnt-blue'>PRO</h4>
              <h4 class='plan-ttl-period' id='fnt-blue'>YEARLY</he>
              <p class='plan-ttl-price' id='fnt-blue'>$120</p>
              <ul id='fnt-white'>
                <li>Very very good</li>
                <li>Even more</li>
                <li>Perfect Job</li>
                <li>Love this more</li>
                <li>It's so so good</li>
                <li>More Features</li>
              </ul>
              <button class='select-btn'id='sel-blue'> SELECT</button>
            </div>
          </div>
        </div>
    </section>
    <section class='red'>
        <h1>HELLO</h1>
    </section>
    <section class='blue'>
        <h1>HELLO</h1>
    </section>
  </main>
  <script src="js/scripts.js"></script>
</body>
</html>