@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');
html {
  scroll-behavior: smooth;
}
/* Style the button that is used to open and close the collapsible content */

@keyframes grow {
  0% { font-size: 0; }
  100% { font-size: 40px; }
}
#collapsible-menu{
  display: none;
  height: 330px;
  width:330px;
  border-radius : 100%;
  background-color: black;
  float:left;
  color:white;
  position:absolute;
  animation:ease-in;
  transition: ease-in 10s;
  -moz-animation-duration: 2s;
  
  
}
#collapsible-btn{
  
  height: 60px;
  width:fit-content;
  border-radius: 100%;
  background-color: transparent;
  position: fixed;
  color:white;
  font-size: 40px;
  animation-fill-mode: forwards;
  -moz-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  behavior: smooth;
  z-index: 5;
  
  transition: 10s;
  
}

.menu-txt {
  font-size: 24px;
  font-weight: 600;
  padding-left: 28%;
  padding-top: 45%;
  color:white;
  text-transform:uppercase
}

#menu-color {
  color: white;
}



.slider {
  width: 100%;
  height: 768px;
  background-color: rgb(25, 25, 25);
  font-family: 'Work Sans', sans-serif;
  position: relative;
}
.container-slider {
  display:block;
  padding: 90px;
  align-content: center;
  font-family: 'Work Sans', sans-serif;
  position: absolute;
  z-index: 1000;
  top: 35%;
  text-shadow: black;
}
#pricing {
  display: block;
  color: white;
}
#app-ttl {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 600;
  text-align: center;
  z-index: 10;
  -webkit-filter: drop-shadow(18px 10px 10px #222);
  filter: drop-shadow(20px 0px 15px #0a0a0a);
}
.app-txt {
  padding-left: 270px;
  padding-right: 270px;
  font-size: 18px;
  letter-spacing: 3px;
  text-align: center;
  align-items: center;
  z-index: 10;
  -webkit-filter: drop-shadow(40px 40px 40px #222);
  filter: drop-shadow(70px 2px 10px #0a0a0a);
  
}
.btn-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

[class*="try-btn"] {
  outline: 0;
  border-radius: 50px;
  font-size: 1.1em;
  background: rgba(4, 23, 107, 0.8);
  font-family: 'Work Sans', sans-serif;
  color:rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 4px;
  overflow: hidden;
  position: relative;
  padding: 2em 3em;
  margin: 4em;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
}
[class*="try-btn"]::after, [class*="btn-"]::before {
  content: "";
  position: absolute;
}
[class*="try-btn"]:hover, [class*="btn-"]:focus {
  background: rgba(83, 2, 94, 0.8);
}
[class*="try-btn-mix"]::after {
  background: #222;
  border-radius: 120px;
  content: attr(data-text);
  color: rgb(255, 255, 255);
  padding: 1.6em 2.5em;
  top: 0.4em;
  left: 0.5em;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
}
[class*="try-btn-mix"]::before {
  background: transparent;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  box-shadow: 0 1em 2em 3em rgba(11, 175, 240, 0.5), 4em 0em 2em 2em rgba(93, 0, 155, 0.6), -4em -2em 2em 2em rgba(255, 0, 150, 0.5), -4em 2em 2em 4em rgba(235, 7, 26, 0.5), 0 -3em 2em 3em rgba(250, 121, 0, 0.5), 2em -1em 2em 2em rgba(240, 205, 9, 0.5);
  width: 0;
  height: 0;
  animation: mix 5s linear infinite;
}
@keyframes mix {
  40% {
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5), 4em -1em 2em 3em rgba(255, 50, 0, 0.8), -4em 2em 3em 2em rgba(155, 200, 0, 0.5), -4em -2em 2em 2em rgba(200, 0, 150, 0.6), 0 3em 2em 2em rgba(20, 250, 0, 0.5), 2em 1em 2em 2em rgba(50, 10, 250, 0.5);
 }
  70% {
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5), 3em 1em 2em 3em rgba(25, 150, 0, 0.6), 3em -2em 3em 3em rgba(155, 200, 0, 0.5), -4em 2em 2em 3em rgba(200, 0, 50, 0.6), 0 -3em 2em 3em rgba(200, 250, 0, 0.5), -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
 }
}
.try-btn-mix-noborder::after {
  background: transparent !important;
  color: #222 !important;
}

.boxes {
  display: flex;
  justify-content: space-around;
}


main{
  background-color:rgb(195, 82, 77);
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.fade-in-red {
  width: 100%;
  height: 768px;
  background-color: rgb(195, 82, 77);
  font-family: 'Work Sans', sans-serif;
  margin-block-start:0;
  margin-block-end:0;
}
.fade-in-container-sound{
  display: flex;
  width: auto;
  height: 100%;
  
}

.sound-box {
  display:block;
  justify-content: flex-start;
  align-content: flex-start;
  padding-left: 180px;
  padding-top: 160px;
  width: 800px;
  height: 100%;
}

#sound-ttl {
  color: rgb(255, 255, 255);
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 4px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}

#sound-txt {
  display: block;
  width: auto;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  
}
.select-btn {
  border-radius: 2.5rem;
  border: 0;
  font-size: 13px;
  height: 45px;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 18rem;
  border-width: 2px;
  border-style: solid;
  color: white;
  
}

#sel-white {
  font-weight: 700;
  background-color: white;
  border-color: white;
  color: rgb(187, 37, 29);
}
#sel-white-float {
  width: 120px;
  top:0;
  right:0;
  position:relative;
  font-weight: 700;
  background-color: white;
  border-color: white;
  color: rgb(187, 37, 29);
}
#btn-try-right {
  padding-left: 87%;
  padding-top: 5%;
}

#sound{
  margin-top: 80px;
  margin-left: 40px;
  cursor:pointer;
  height: 400px;
  
  width: auto;
  -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(6px 12px 20px #0a0a0a);
}

ul {
  list-style-type: "♪ ";
  margin-left: 0;
  padding-left: 0;
  padding-right: 3px;
}
.benefits-txt {
  color:rgb(25, 25, 25);
  font-size: 18px;
  font-weight: 500;
  margin-block-start: 0.1em;
  margin-block-end: 0.3em;
}

.yellow {
  width: 100%;
  height: 768px;
  background-color: rgb(244, 181, 87);
  font-family: 'Work Sans', sans-serif;
}

#sel-white-yellow-float {
  width: 120px;
  top:0;
  right:0;
  position:relative;
  font-weight: 700;
  background-color: white;
  border-color: white;
  color: rgb(244, 181, 87);
}
#sel-white-yellow {
  color: rgb(230, 144, 17);
  border: none;
  font-weight: 600;
}
.img-bckgrnd{
  background-image: url('../assets/dave-grohl-cropped.jpg');
  z-index: 100;
}

.front-row-container{
  display:flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding-left: 100px;
  padding-top: 100px;
  width: 100%;
  height: 600px;
  background-color: rgb(244, 181, 87);
  
}
.front-box{
  padding: 20px;
}
#front-box-double-img {
  background-color: rgb(26, 25, 25);
  background-image: url('../assets/dave-grohl-cropped.jpg');
  background-size: 67%;
  background-position: 18% 5% 18%  ;
  background-attachment: fixed;
  height: 350px;
  width: 350px;
  border-radius: 100%;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-top: 90px;
  overflow:hidden;
  position:relative;
}
#front-box-double-img-scd {
  background-color: transparent;
  background-image: url('../assets/dave-grohl-cropped.jpg');
  background-size: 67%;
  background-position: 18% 5% 18% ;
  background-attachment: fixed;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  margin-bottom: 200px;
  right:65%;
  
  position:absolute;
}
#front-box-single-img {
  background-color: transparent;
  background-image: url('../assets/dave-grohl-cropped.jpg');
  background-size: 450%;
  background-position: 90% 67% ;
  background-attachment: relative;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  border-top-left-radius: 95%;
  margin-left: 0;
  margin-bottom:0;
  margin-top: 22.8%;
  
}



#front-ttl {
  color: rgb(255, 255, 255);
  font-size: 44px;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;

}

#front-txt {
  display: block;
  width: auto;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  
}
.black {
  width: 100%;
  height: 768px;
  background-color: rgb(26, 26, 26);
  font-family: 'Work Sans', sans-serif;
}
.container-black {
padding: 90px;
}



.title-box {
  padding-left: 50px;
  color:white;
  letter-spacing: 4px;
  font-size: 44px;
  font-weight: 500;
  height: 90px;
}
.box-benefits {
  padding-top: 3px;
  display: block;
  width: 195px;
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

#box-benefits-red {
  color: rgb(195, 82, 77);
}
#box-benefits-yellow {
  color: rgb(244, 181, 87);
}
#box-benefits-blue {
  color: rgb(105, 222, 231);
}
#bnf-blue-line {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: auto;
  border-style: inset;
  color: rgb(105, 222, 231);
  background-color: rgb(105, 222, 231);
  border-top: 2px solid rgb(105, 222, 231);
  width: 1.4cm;
}
#bnf-red-line {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: auto;
  border-style: inset;
  color:rgb(195, 82, 77);
  background-color: rgb(195, 82, 77);;
  border-top: 2px solid rgb(195, 82, 77);
  width: 1.4cm;
}

#bnf-yellow-line {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: auto;
  border-style: inset;
  color: rgb(244, 181, 87);
  background-color:rgb(244, 181, 87); 
  border-top: 2px solid rgb(244, 181, 87);
  width: 1.4cm;
}

ul {
  list-style-type: "♪ ";
  margin-left: 0;
  padding-left: 0;
  padding-right: 3px;
}
.benefits-txt-white {
  color:rgb(255, 254, 254);
  font-size: 20px;
  font-weight: 400;
  margin-block-start: 0.1em;
  margin-block-end: 0.3em;
}

#btn-try-right-mix {
  padding-left: 80%;
  padding-top: 1%;
}

#tryIt-btn-mix {
  width: 180px;
}

.boxes-container {
  display:flex;
  justify-content: space-around;
  padding-top: 90px;
}

.black-scnd{
  width: 100%;
  height: 500px;
  background-color: rgb(26, 26, 26);
  font-family: 'Work Sans', sans-serif;

}
#btn-try-center-mix{
  padding-left: 0%;
  padding-right: 15%;
  padding-top: 6%;
}

.title-box-red {
  padding-left: 50px;
  padding-top: 90px;
  color:rgb(195, 82, 77);;
  letter-spacing: 1px;
  font-size: 48px;
  font-weight: 600;
  height: 90px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}

#txt-black{
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 50px;
  padding-top: 45px;
}

.blue-marine {
  width: 100%;
  height: 768px;
  background-color: rgb(105, 222, 231);
  font-family: 'Work Sans', sans-serif;
}
#sound-1 {
  height: 160px;
  width: auto;
  -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(6px 12px 35px #0a0a0a);
  transform: rotate(-65deg);
  margin-bottom: 100px;
}
#sound-2 {

  margin-top: 260px;
  height: 160px;
  width: auto;
  -webkit-filter: drop-shadow(10px 50px 10px #222);
  filter: drop-shadow(16px 20px 35px #0a0a0a);
  transform: rotate(65deg);
}

#stars{
  color:black;
  font-size: 22px;
  letter-spacing: 5px;
  margin-block-start:0;
  margin-block-end:0;
}
.title-box-white {
  margin-block-start:0;
  margin-block-end:0;
  padding-top: 0px;
  color:rgb(255, 255, 255);;
  letter-spacing: 1px;
  font-size: 48px;
  font-weight: 600;
  height: 90px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}
.img-box {
  display: block;
  padding-left: 90px;
  height: 500px;
}
.big-container{
  display: flex;
}
.container-blue-marine {
  padding-left: 100px;
  padding-top: 15%;
  width: 900px;
  justify-content: space-around;


}

.title-box-marine {
  padding-left: 30px;
  color:white;
  letter-spacing: 4px;
  font-size: 44px;
  font-weight: 500;
  height: 90px;
}

#sel-white-blue-float {
  width: 120px;
  top:0;
  right:0;
  position:relative;
  font-weight: 700;
  background-color: white;
  border-color: white;
  color:rgb(105, 222, 231);
}

.blue {
  width: 100%;
  height: 200px;
  background-color: rgb(87, 60, 201);
  font-family: 'Work Sans', sans-serif;
}

#contact {
  font-size: 20px;
  color: white;
  font-weight: 400;
  padding-left: 90px;
  padding-top: 20px;
  font-stretch: expanded;
  font-family: 'Work Sans', sans-serif;
}
#brand {
  display: block;
  align-self: flex-end;
  justify-self: center;
  color: white;
  font-size: 30px;
  padding-left: 25%;
  bottom: 0;
  padding-top: 35px;
  margin-block-end: 0.3em;
}

#footer {
  position: relative;
  color: white;
  padding-left: 37%;
  bottom: 0px;
  height: 100%;
  
  padding-bottom: 40px;
  background-color: rgb(87, 60, 201);
}


.select-btn-white {
  border-radius: 2.5rem;
  border: 0;
  font-size: 12px;
  height: 45px;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 22rem;
  padding: 1em 2em;
  border-style: solid;
 
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}


.button {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #f72359;
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}
.button span {
  position: relative;
  pointer-events: none;
}
.select-btn-white::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  
  background: radial-gradient(circle closest-side, #060d50,#4f06af,#660e3a, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.select-btn-white span {
  position: relative;
  pointer-events: none;
}

.select-btn-white:hover::before {
  --size: 400px;
  
}


.cursor {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  z-index: 1000;
}

.cursor-inner {
  border: 1px solid #000;
  height: 60px;
  width: 60px; 
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 0; 
  left: 0;
  transition: all 360ms cubic-bezier(.23,1,.32,1);
}

.cursor.cursor--focused .cursor-inner { 
  height: 90px; width: 90px; 
}